@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
/*Home Page*/

.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("C:\\Users\\hp\\Desktop\\restuarant\\image\\3.PNG");
  background-size: cover;
  opacity: 0.75;
}
.banner .content{
  max-width: 940px;
  text-align: center;
}
.banner .content h2{
  font-size: 3.5rem;
  color: #fff;
  padding-bottom: 25px;
  opacity: 1;
}
.banner .content p{
  font-size: 1.8rem;
  color: #fff;
  padding-top: 105px;
  font-weight: 600;
}
.btn{
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  background: #ff005c;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover{
  letter-spacing: 6px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s; 
}
header.sticky{
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header .logo{
  color: #111;
}

header .logo img{
  width: 70px;
}
header.sticky img{
  color: #000;
}
header .navigation{
  position: relative;
  display: flex;
}
header .navigation li{
  list-style: none;
  margin-left: 30px;
}
header .navigation li a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
header.sticky .navigation li a{
  color: #111;
}
header .navigation li a:hover{
  color:#ff005c;
}
body{
  line-height: 1.5;
  background-color: #2f5d62;
  color: #fff;
}

/*Categories*/

.menu{
  margin: 2rem 0;

}
.menu-container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
img{
  width: 100%;
  display: block;
}
.menu-head{
  text-align: center;
}
.menu-head h2{
  font-size: 2.6rem;
}
.menu-head h4{
  font-size: 1.3rem;
  font-weight: 300;
  padding: 1.5rem 0;
}
.menu-btns{
  padding: 0.6rem 0;
  display: flex;
  justify-content: center;
}
.menu-btn{
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  background: none;
  border: none;
  color: #ff005c;
  display: block;
  margin: 0 1rem;
  cursor: pointer;
  outline: 0;
  transition: opacity 0.4s ease-out;
}
.menu-btn::after{
  content: "";
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #ff005c;
  margin-top: 0.5rem;
  width: 0;
  transition: width 0.4s ease-out; 
}
.menu-btn:hover::after{
  width: 100%;
}
.menu-btnn:hover{
  opacity: 0.8;
}
.active-btn{
  color: #fff;
}
.rest-img{
  margin: 2rem 0;
}
.restaurant-name , .cafe-name, .drivethru-name, .dessert-name{
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  color: #000;
  margin: 0.6rem 0;
  box-shadow: 0 0 16px -4px rgba(0,0,0,0.75);
  display: ;
  animation: fadeIn 2s;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.restaurant-img img{
  border-radius: 4px;
}
.restaurant-content{
  padding: 1rem;
}
.rest-name{
  color: #ff005c;
  font-weight: 500;
  text-transform: capitalize;
}
.line{
  width: 100px;
  height: 3px;
  background: #ff005c;
}
.address{
  padding: 0.4rem 0;
  font-weight: 600;
  font-size: 1.4rem;
  opacity: 0.8;
}
.rating{
  display: flex;
  list-style: none;
}
.rating .checked{
  color: #ff005c;
}
.rating .fa-star{
  margin-right: 0.4rem;
  color: #44355b;
}
.ambience{
  padding-top: 0.2rem;
  font-size: 1rem;
  font-weight: 800;
}
.ambience span{
  font-weight: 500;
}
@media screen and (min-width: 600px){
  .restaurant-name{
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding:1rem;
    column-gap: 1rem;

  }
}
@media screen and (min-width: 600px){
  .cafe-name{
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding:1rem;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 600px){
  .drivethru-name{
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding:1rem;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 600px){
  .dessert-name{
    display: grid;
    grid-template-columns: 25% auto;
    align-items: center;
    padding:1rem;
    column-gap: 1rem;
  }
  .restaurant-content{
    padding: 0;
  }
}
@media screen and (min-width: 768px){
  .menu-head h4{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px){
  .menu-head h4{
    width: 50%;
  }
  
  .rest-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

/*Quote section*/

.section-cover{
  background-image:url("C:\\Users\\hp\\Desktop\\restuarant\\image\\2.JPG");
  background-size: cover;
  opacity: 0.6;
}

#quote .section-heading{
  padding: 80px 0;
}

#quote .section-title{
  padding-left: 250px;
  color: #000;
  font-size: 1.4rem;
  font-weight: 800;
}
.best-of-btns{
  padding-left: 550px;
  font-weight: 700;
}

/*Reviews*/

.testimonials{
  padding: 40px 0;
 
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.border{
  width: 160px;
  height: 5px;
  background: #ff005c;
  margin: 26px auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex:33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;

}
.inner h1{
  font-size: 2.6rem;
  color: #fff;
}
/*.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}*/
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #ff005c;
  margin-bottom: 20px;
}
@media screen and (max-width: 960px){
  .col{
    flex:100%;
    max-width: 80%;
  }
}
@media screen and (max-width: 600px){
  .col{
    flex:100%;
    max-width: 100%;
  }
}

/*footer*/

.last{
  
  bottom: 0px;
  width: 100%;
  background: #1e212d;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
}
.left .content {
  margin: 20px 0 0 0;
}
.left .content p{
  text-align: justify;
}
.right-box{
  padding-right: 70px;
}
.right-box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  }
  .right-box .content{
    padding-top: 5px;
  }
.center-box{
  text-align: center;
}
.end p{
  padding-left: 690px;
}